<html>
<head>
  <title>Form!</title>
</head>
<body>
  <h1>
    FORM HERE!
  </h1>
  <form method="POST" action="{{ url_for('form') }}">
    {{ form.csrf_token }}
    {{ form.Recency.label }}
    {{ form.Recency }}
    <ul>
      {% for error in form.Recency.errors %}
          <li style="color:red;">{{ error }}</li>
      {% endfor %}
    </ul>  
    {{ form.Frequency.label }}
    {{ form.Frequency }}
    <ul>
        {% for error in form.Frequency.errors %}
            <li style="color:red;">{{ error }}</li>        
        {% endfor %}
      </ul>  
    {{ form.Time.label }}
    {{ form.Time }}
    <ul>
        {% for error in form.Time.errors %}
            <li style="color:red;">{{ error }}</li>           
        {% endfor %}
    </ul>  
    {{ form.Monetary.label }}
    {{ form.Monetary }}
    <ul>
        {% for error in form.Monetary.errors %}
            <li style="color:red;">{{ error }}</li>   
        {% endfor %}
    </ul>  
    <input type="submit" value="Submit">
  </form>
</body>
</html>